<h1>Les détails du profil de <%= @user.first_name %> :</h1>
<p>Prénom : <%= @user.first_name %></p>
<p>Nom de famille : <%= @user.last_name %></p>
<p>Email : <%= @user.email %></p>
<p>Description : <%= @user.description %></p>
<p>Age : <%= @user.age %> ans !</p>