<div class="card text-white bg-primary mb-3">

<h1 class="text-center">Les détails du gossip que tu as choisi :</h1>
</div>

<p class="text-center">Titre du gossip : <%= @gossip.title %><p>
<p class="text-center">Contenu du gossip : <%= @gossip.content %></p>
<p class="text-center">Auteur du gossip : <%= @gossip.user.first_name %></p>
<p class="text-center">Ville de l'auteur : <%= @gossip.user.city.name %></p>
<p class="text-center">Date de création du gossip : <%= @gossip.created_at %></p>

<div class="card text-white bg-secondary mb-3">
<h2 class="text-center"> Les commentaires de ce gossip : </h2>
</div>

<% if @gossip.comments.any? %>
<ul class="text-center">
    <% @gossip.comments.each do |comment|%>
    <p class="text-center"><%= comment.user.first_name %> a commenté : <%= comment.content%></p>
    <% end %>
</ul>
<% else %>
<p class="text-center"> Ce gossip n'a pas l'air de susciter beaucoup de réaction. Il doit être de piètre qualité. </p>
<% end %>
<br>

<% if current_user %>
<%= form_with(model: [ @gossip, @gossip.comments.build ], local: true, url: gossip_comments_path(@gossip), method: :post) do |f| %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="form-group">
      <%= f.label :content, "Ajouter un commentaire" %>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <%= f.submit "Ajouter le commentaire", class: "btn btn-primary" %>
  <% end %>  
<% end %>

<div class="text-center">
<a type="button" class="btn btn-primary" <%= link_to "Voir le profil du gossipeur #{@gossip.user.first_name}", user_path(@gossip.user) %>
</a>
</div>

<br>

<div class="text-center">
<a type="button" class="btn btn-primary" <%= link_to "Voir le profil de la ville de #{@gossip.user.city.name}", city_path(@gossip.user.city) %>
</a>
</div>

<br>

<% if current_user == @gossip.user %>
<div class="text-center">
<a type="button" class="btn btn-secondary" <%= link_to "Modifier le gossip", edit_gossip_path(@gossip) %>
</a>
</div>

<br>

<div class="text-center">
<%= button_to "Supprimer le gossip", gossip_path, class: 'btn btn-danger', method: :delete %>
</div>
<% end %>