<!DOCTYPE html>
<html>
  <head>
    <title>La Gossiperie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css', media: 'all' %>
    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

<header>
<%= render 'layouts/navbar' %>
</header>

  <body>
  <% if flash[:success].present? %>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Tout est bon !</h4>
    <p><%= flash[:success] %></p>
  </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Oh non !</h4>
        <p><%= flash[:alert] %></p>
    </div>
  <% end %>

    <%= yield %>
  </body>
  
  <footer class="text-center">
  © La Gossiperie, tous droits reservés, 2023.
  </footer>
</html>